.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  header, footer {
    flex: 0 0 auto;
  }
  
  main {
    flex: 1 0 auto;
    overflow: auto;
    padding-top: 6em;
  }
  